canvas {
    border: 2px solid black;
    display: block;
    margin: 20px auto;
}
#Btn {
    color: black;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px 20px;
    display: block;
    background-color: rgb(202, 143, 143);
    border-radius: 20px;

}
#Btn:hover{
    background-color: rgb(105, 100, 100);
}
#message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}